
@import url('/__system/pageFile/component:theme/font-bauhaus.css');

/*for the overall page layout*/
body{
	padding: 0px;
	margin: 0px;
}


p{
    line-height:1.25;
}

/*wait, what? yeah, paraghraphs need to be a div in order for the footnotes to work correctly because footnotes are a block-level element and cannot normally be inserted into an inline-level element*/
.paragraph{    
    display: block;
    line-height: 1.25;
    margin: 0;
}
.paragraph + .paragraph{
    margin-top: 1em;
}

/*fix oddity with the fancy SCP class headers*/
/*theres still other problems though, there's a lot of CSS problems in general*/
.danger-diamond .paragraph{
    height: 0;
}
/*for compatability with collapsibles*/

#fullPageContainer{
	background-color: white;
}

#sourceCodeBox{
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
}

#pageHeaderBackground{
    display: block;
	background-repeat: repeat-x;
	background-image: linear-gradient(0deg, rgb(100, 46, 44) 0%, rgb(12, 12, 12) 90%, rgb(12, 12, 12));
	width: 100%;
}

#pageHeader{
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 0 1rem 0;
	
	display: grid;
	grid-template-columns: 15px auto auto 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		". image title ."
		". image subtitle .";
	grid-column-gap: 0px;
}

#headerImage{
	grid-area: image;
}

#headerTitle{
	grid-area: title;
	font-family: BauhausLTDemi, sans-serif;
	padding: 0px;
	padding-top: 20px;
	font-size: 2.3rem;
	margin: 0px;
	margin-bottom: -35px;
	color: #F0F0F0;
}

#headerTitle a{
	color: inherit;
}

#headerSubtitle{
	grid-area: subtitle;
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
	color: rgb(240, 240, 192);
	font-size: 0.82rem;
}

/*top bar styling*/
#topBar{
    display: block;
    background-repeat: repeat-x;
	background-image: linear-gradient(0deg, rgb(10, 10, 10) 0%, rgb(85, 85, 85) 90%);
    min-height: 10px;
    height: auto;
}
#topBar>.mobile-top-bar{
    display: none;
}
#topBar>.top-bar{
    display: block;
    max-width: 60rem;
	margin: 0 auto 0 auto;
    text-align: right;
}
#topBar>.top-bar>ul{
    display: inline-block;
    padding: 0;
    margin: 0;
}
#topBar>.top-bar>ul{
    display: inline-block;
    padding: 0;
    margin: 0;
}
#topBar>.top-bar>ul>li{
    display: inline-block;
    padding: 4px 8px 8px 8px;
    border-style: solid;
    border-color: rgb(25, 25, 25);
    border-width: 0 1px 0 1px;
    position: relative;
    color: #F0F0F0;
    font-family: sans-serif;
    font-size: 0.8rem;
}
#topBar>.top-bar>ul>li+li{
    border-width: 0 1px 0 0;
}
#topBar>.top-bar>ul>li>ul{
    display: none;
}
#topBar>.top-bar>ul>li:hover{
    background-color: #F0F0F0;
    color: #901;
}
#topBar>.top-bar>ul>li:hover>ul{
    float: left;
    display: block;
    position: absolute;
    z-index: 1;
    color: #901;
    background-color: #F0F0F0;
    margin: 4px 0 0 -9px;
    text-align: left;
    padding: 0;
    width: 10rem;
    border-style: solid;
    border-color: black;
    border-width: 0 1px 1px 1px;
}
#topBar>.top-bar>ul>li>ul>li{
    display: block;
    list-style-type: none;
    padding-left: 0.5rem;
    padding-bottom: 2px;
}
#topBar>.top-bar>ul>li>ul>li:hover{
    background-color: #FBFBFB;
}

#pageBody{
	max-width:60rem;
	margin-left:auto;
	margin-right:auto;
	
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		"sideBar article"
		"sideBar footer";
}

#sideBar{
	grid-area: sideBar;
	width: 18rem;
	min-height: 75rem;
	position: relative;
}

#article{
	grid-area: article;
	font-family:'Liberation Sans', sans-serif;
}

#articleTitle{
	font-size: 2rem;
	color: #901;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: gray;
	margin: 5px 0px 20px 0px;
	padding-bottom: 5px;
}

#articleFooter{
	grid-area: footer;
	margin: 20px;
	padding: 5px;
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: gray;
}

#articleFooter .item{
	display: inline-block;
	margin: 5px;
	font-family:'Liberation Sans', sans-serif;
}

#tagsButton{
    display: inline-block;
}

#tagsDropDownAnchor{
    display: none;
    position: relative;
}

#tagsButton:hover+#tagsDropDownAnchor{
    display: inline-block;
}

#tagsDropDownAnchor:hover{
    display: inline-block;
}

#tagsDropDown{
    position: absolute;
    width: 20rem;
    margin-left: -10rem;
    z-index: 1;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

#tagsDropDown .tag{
    display: inline-block;
    padding: 4px;
}

#pageFooterBackground{
	margin-top: 10rem;
	background-color: #555555;
}

#pageFooter{
	max-width:60rem;
	margin-left:auto;
	margin-right:auto;
	
	padding: 10px 0px 10px 0px;

	color: white;
}
#pageFooter a{
	color: lightblue;
}
#pageFooterPoweredBy{
	margin: 5px;
}
#pageFooterCopyright{
	margin: 5px;
}

/*for the forum*/
.pageSelect{
    text-align: center;
    margin: 0.5rem;
}
.pageButton{
    display: inline-block;
    background-color: lightgray;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    min-width: 1.5rem;
    margin: 1px;
    text-align: center;
}
.currentPageButton{
    border-color: #901;
}
/*forum thread stuff*/
.threadContainer{
    border-radius: 10px;
    background-color: lightgray;
    padding: 0.5rem;
}

.threadTitle{
    font-size: 1.5rem;
    color: #901;
}

.threadInfo{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.threadDescription{
    padding: 0.5rem;
}

/*forum post stuff*/
.postContainer{
    padding: 0.5rem 0.5rem 0rem 1.5rem;
}

.postHeader{
    border-radius: 10px 10px 0px 0px;
    background-color: lightgray;
    padding: 0.5rem;
}

.postTitle{
    font-size: 1.1rem;
    color: #901;
}

.postInfo{
    
}

.postContent{
    padding: 0rem 0.5rem 0rem 0.5rem;
}

/*footnotes*/
.footNoteBlock{
    padding-left: 2rem;
}

.footNoteBlock li{
    list-style-type: none;
}

.footNoteBlockLabel{
    float: left;
    padding-right: 0.1rem;
}

.footNoteDropDown{
    display: block;
    position: absolute;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    z-index: 1;
    margin-left: -10rem;
    width: 20rem;
    padding: 0px 1rem 0px 1rem;
}


.footNoteDropDownAnchor{
    position: relative;
    display: none;
}

.footNote{
    display: inline;
}

.footNote:hover+.footNoteDropDownAnchor{
    display: inline;
}

/*for the things in the article*/
h1{margin-top:1rem;margin-bottom:0.5rem;font-size:2rem;}
h2{margin-bottom:0.5rem;font-size:1.3rem;}
h3{margin-bottom:0.5rem;font-size:1.1rem;}
h4{margin-bottom:0.5rem;font-size:1rem;}
h5{margin-bottom:0.5rem;font-size:0.8rem;}
h6{margin-bottom:0.5rem;font-size:0.7rem;}

li{line-height:1.25;}

.PageClearer{display:block;clear:both;}
.PageClearerLeft{display:block;clear:left;}
.PageClearerRight{display:block;clear:right;}
blockquote{border-width:1px;border-style:dashed;border-color:black;padding:1rem;}
code{display:block;border-width:1px;border-style:dashed;border-color:gray;background-color:lightgray;}
.Monospaced{font-family:'Liberation Mono', monospace;font-size:inherit;}
.CodeBlock{border-width:1px;border-style:solid;border-color:black;font-family:'Liberation Mono', monospace;}

#toc{max-width:30em;border-style:solid;border-width:1px;border-color:black;}

img{border-width:0px;}
.image{display:inline-block;}
.ImageCenter{text-align:center;}
.ImageLeft{text-align:left;}
.ImageRight{text-align:right;}
.ImageFloatLeft{float:left;}
.ImageFloatRight{float:right;}
.scp-image-block > .paragraph {
	/*this is in order to remove a strange gap that appears below SCP images*/
	line-height: 0;
}

table{border-collapse:collapse;margin:0.5rem;empty-cells:show;}
tr{border-collapse:collapse;}
td{border-collapse:collapse;border-style:solid;border-width:1px;border-color:black;padding:0.5rem;}
th{border-collapse:collapse;border-style:solid;border-width:1px;border-color:black;padding:0.5rem;}

/*Collapsible stuff*/
.CollapsibleContainer{clear:both;}
.CollapsibleContent{display:none;}
.CollapsibleHiddenText{cursor:pointer;color:blue;}
.CollapsibleHiddenText:hover{text-decoration:underline;}
.CollapsibleShownText{cursor:pointer;color:blue;display:none;}
.CollapsibleShownText:hover{text-decoration:underline;}
.CollapsibleContainer>input[type=checkbox]{display:none;}
/*when the collapsible is opened*/
input[type=checkbox]:checked~.CollapsibleContent{display:block;}
input[type=checkbox]:checked~.CollapsibleHiddenText{display:none;}
input[type=checkbox]:checked~.CollapsibleShownText{display:block;}

/*TabView stuff*/
.TabView{}
.TabViewButtons{}
.TabViewButton{cursor:pointer;border-style:solid;border-color:black;border-width:1px;border-bottom-width:0px;display:inline-block;padding:2px;margin-right:0.5rem;}
.TabViewButton:hover{text-decoration:underline;}
.TabView>input[type=radio]{display:none;}
.TabSection{padding:0.5rem;padding-top:0px;display:none;border-style:solid;border-color:black;border-width:1px;overflow:hidden;}
.TabSectionTitle{display:inline-block;padding:2px;padding-left:4rem;font-family:monospace;}
/*for showing the selected tab*/
input[type=radio]:checked+.TabSection{display:block;}

.rate-points{
    color: white;
    padding: 1px 8px 1px 8px;
    font-size: 0.8rem;
    font-weight: bold;
}

.heritage-rating-module .heritage-emblem {
    top: -15px;
}

.pictures4mobile{
    display: none;
}

/*for the link previews*/

.previewableLink{
    /*marks a link as possibly previewable, handled later by javascript*/
}

.linkPreviewAnchor{
    display: inline-block;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.previewableLink:hover+.linkPreviewAnchor{
    visibility: visible;
    opacity: 1;
    transition-delay:1s;
}

.linkPreview{
    display: block;
    position: absolute;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    z-index: 1;
    margin-left: -15rem;
    padding: 0px;
    height: 20rem;
    width: 30rem;
    overflow: hidden;
}

.linkPreviewFrame{
    display: block;
    height: 20rem;
    width: 30rem;
    overflow: hidden;
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    font-size: 0.5rem;
}

/*change some stuff around in the articlePreviews so they fix in the box nicely*/
#articlePreviewRoot{
    font-size: 16px;
}
#articlePreviewRoot img{
    max-width: 10rem !important;
}
#articlePreviewRoot .scp-image-block{
    max-width: 10rem !important;
}
#articlePreviewRoot .scp-image-caption{
    max-width: 10rem !important;
}
#articlePreviewRoot .heritage-rating-module{
    display: none !important;
}
#articlePreviewRoot .page-rate-widget-box{
    display: none !important;
}










